<% include header %>
<div class="container">
    <ol class="breadcrumb">
        <li><a href="#">课程管理</a></li>
        <li class="active">课程列表</li>
    </ol>
    <table class="table">
        <thead>
            <tr>
                <td>课程名称</td>
                <td>课程介绍</td>
                <td>课程操作</td>
            </tr>
        </thead>
        <tbody>
            <% for(var i = 0;i<kcList.length;i++){ %>
            <tr>
                <td>
                    <%= kcList[i].name %>
                </td>
                <td>
                    <%= kcList[i].info %>
                </td>
                <td>
                    <a href="/kcEdit/<%= kcList[i]._id %>">编辑</a>
                    |
                    <a href="/kcEditRemove/<%= kcList[i]._id %>" onclick="return confirm('您确定要删除吗?')">删除</a>
                </td>
            </tr>
            <% } %>
        </tbody>
    </table>
</div>
<% include footer %>