<!doctype html>
<html lang="en">

<head>
    <title>好台词-管理员登录</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
    <!-- VENDOR CSS -->
    <link rel="stylesheet" href="/assets/vendor/bootstrap/css/bootstrap.min.css">
    <!-- 管理员的页面的样式-->
    <link rel="stylesheet" href="/css/admin.css">
</head>

<body>
    <div class="container">
        <div class="row">
            <h1>管理员登录页面</h1>
        </div>
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <form action="/admin/doLogin" class="login-form" method="post">
                    <ul>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon">帐号：</span>
                                <input type="text" class="form-control" name="username">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon">密码：</span>
                                <input type="password" class="form-control" name="password">
                            </div>
                        </li>
                        <li>
                            <div class="input-group">
                                <span class="input-group-addon">验证码：</span>
                                <input type="text" class="form-control" name="code">
                            </div>
                            <a href="#">
                                <img src="/admin/code" alt="">
                            </a>
                        </li>
                        <li>
                            <input type="submit">
                        </li>
                    </ul>
                </form>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
    <!-- Javascript -->
    <script src="/assets/vendor/jquery/jquery.min.js"></script>
    <script src="/assets/vendor/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>