<!DOCTYPE html>
<html>

<head>
    <title></title>
    <link rel='stylesheet' href='/css/style.css' />
</head>

<body>
	<h1><%= message %></h1>
	<ul>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
		<li>aaaaaaaaa</li>
	</ul>
	<img src="/images/1.jpg" alt="">
</body>

</html>